@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: auto;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#nav-container {
  width: 100%;
  background: aqua;
}

.nav-btn {
  width: 6vw;
  height: 3vh;
  margin: 1vh 2vw 1vh 2vw;
  transform: translateX(30vw);
}

#search-container {
  display: inline;
  width: 100%;
  background: lime;
}

.filter {
  width: 20vw;
  transform: translateX(10vw);
  text-align: center;
}

#food-card {
  text-align: center;
}

#food-name {
  font-size: 4vh;
  font-family: Merriweather;
}

#card-text {
  font-size: 2.5vh;
  font-family: Merriweather;
}

#card-btn {
  font-size: 2vh;
  margin-right: 3vw;
  margin-top: 0.5vh;
}

#card-container {
  transform: translateX(3.9vw);
}

#card {
  margin: 1vh 1vh 1vh 1vh;
}

#search {
  width: 400px;
  border-radius: 0px;
}

#search-btn {
  height: 2.5rem;
  width: 1.75rem;
}