* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#nav-container {
  width: 100%;
  background: aqua;
}

.nav-btn {
  width: 6vw;
  height: 3vh;
  margin: 1vh 2vw 1vh 2vw ;
  transform: translateX(30vw);
}

#search-container{
  display: inline;
  width: 100%;
  background: lime
}

.filter{
  width: 20vw;
  transform: translateX(10vw);
  text-align: center;
}

#dropdown{
  position: absolute;
  transform: translateX(-10vw);
}

#food-card{
  text-align: center;
}